.quadradofiltro{
    width: 245px;
    margin: 40px;
    display: flex;
}

.filtro{
    display: flex ;
    flex-direction: row;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    margin-right: 30px;
}

.filtro p{
    padding: 12px;
    margin-right: 120px;
    color: rgb(142, 144, 144);
    font-size: 17px;
}

.filtro img{
    margin-right: 15px;
}

.relevancia{
    display: flex ;
    flex-direction: row;
    align-items: center;
    border: 1px solid #bbbbbb;
    border-radius: 5px;
}

.relevancia p{
    padding: 12px;
    margin-right: 120px;
    color: rgb(142, 144, 144);
    font-size: 17px;
}

.relevancia img{
    margin-right: 15px;
    width: 20px;
    height: 20px;
}